<!-- details of seed selected on seed-index -->
<div class="container-fluid" id="detail-container">
  <div class="row">
    <div class="col-sm-12 col-md-6" style="text-align: center">
      <h3>My Seed Details</h3>
    </div>
  </div>
  <div class="container" *ngIf="selectedSeed" [seed]="selectedSeed">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <!-- img -->
        <img class="img-responsive"
              style="max-height: 50px;"
              src="{{ info.photoImagePath }}"
              alt="{{ info.primaryCommonName }}"/>
        <!-- details -->
        <h5>Common Seed Name: {{ info.primaryCommonName }}</h5>
        <h5>Scientific Seed Name: {{ info.formattedScientificName }}</h5>
        <h5>Color: {{ info.color }}</h5>
        <h5>Life Cycle: {{ info.duration }}</h5>
        <h5>Source: {{ info.source }}</h5>
        <h5>Description: {{ info.description }}</h5>
        <h5>Uses: {{ info.uses }}</h5>
        <h5>History and Conservation: {{ info.conservationInfo }}</h5>
        <h5>Notes: {{ info.notes }}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- redirect to seed edit form -->
    <button type="button" id="edit" style="cursor: pointer" (click)="onEditSeed(seed)">Edit Seed</button>
    <!-- cancel and redirect to seed index  -->
    <button type="button" id="cancel" style="cursor: pointer" (click)="onCancel()">Cancel</button>
    <!-- delete seed id and redirect to seed index -->
    <button type="button" id="delete" style="cursor: pointer" (click)="onDeleteSeed(index)">Delete Seed</button>
  </div>
