<!-- individual seed to be looped on seed-index -->
<div class="container-fluid" id="seed-container">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <!-- redirect to seed id details -->
          <a class="btn btn-light" id="view" style="cursor: pointer" (click)="onSeedSelected()">{{ info.primaryCommonName }}</a>
        </div>
        <div class="card-body">
          <img class="img-responsive"
            style="max-height: 50px;"
            src="{{ info.photoImagePath }}"
            alt="{{ info.primaryCommonName }}"/>
            <h5 class="card-common">Common Plant Name: {{ info.primaryCommonName }}</h5>
            <h5 class="card-scientific">Scientific Plant Name: {{ info.formattedScientificName }}</h5>
          <h5 class="card-description">Seed Description: {{ info.description }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
