<div class="container-fluid" id="edit-container">
  <div class="row">
    <div class="col-sm-12 col-md-6" style="text-align: center">
      <h3>Edit My Plant</h3>
    </div>
  </div>
  <div class="row">
    <app-info-form *ngIf="selectedPlant" [plant]="selectedPlant"></app-info-form>
  </div>
</div>
<div class="row">
  <!-- save plant and redirect to id details -->
  <button class="btn btn-light" type="submit" id="save" style="cursor: pointer" (click)="onSavePlant(plant)">Save Plant</button>
  <!-- cancel and redirect to plant id details -->
  <button class="btn btn-light" type="button" id="cancel" style="cursor: pointer" (click)="onCancel()">Cancel</button>
  <!-- delete current plant id and redirect to plant index -->
  <button class="btn btn-light" type="button" id="delete" style="cursor: pointer" (click)="onDeletePlant(index)">Delete Plant</button>
</div>
