<!-- loop through individual plants -->
<div class="container-fluid" id="index-container">
  <div class="row">
    <div class="col-sm-12 col-md-6" style="text-align: center">
      <h3>My Plant Collection</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6" style="text-align: center">
      <p>Please select a plant for more details.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <app-plant></app-plant>
    </div>
  </div>
  <div class="row">
    <!-- redirect to new plant form   -->
    <button type="submit" id="save" style="cursor: pointer" (click)="onCreatePlant()">Create Plant</button>
    <!-- cancel and redirect to profile -->
    <button type="button" id="cancel" style="cursor: pointer" (click)="onCancel()">Cancel</button>
  </div>
</div>

