<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <app-navigation></app-navigation>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 mx-auto">
      <!-- <app-home></app-home> -->
      <router-outlet></router-outlet>
      <!-- <app-authorization></app-authorization> -->
      <router-outlet></router-outlet>
      <!-- <app-profile></app-profile> if logged in -->
      <!-- <app-plan-index></app-plan-index> if logged in -->
      <!-- <app-plant-index></app-plant-index> if logged in -->
      <!-- <app-seed-index></app-seed-index> if logged in -->
      <!-- <app-wishlist-index></app-wishlist-index> if logged in -->

    </div>
  </div>
</div>
