<!-- loop through individual seeds -->
<div class="container-fluid" id="index-container">
  <div class="row">
    <div class="col-sm-12 col-md-6" style="text-align: center">
      <h3>My Seed Collection</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6" style="text-align: center">
      <p>Please select a seed for more details.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <app-seed></app-seed>
    </div>
  </div>
  <div class="row">
    <!-- redirect to new seed form   -->
    <button type="submit" id="save" style="cursor: pointer" (click)="onCreateSeed()">Create Seed</button>
    <!-- cancel and return to profile -->
    <button type="button" id="cancel" style="cursor: pointer" (click)="onCancel()">Cancel</button>
  </div>
</div>
