<div class="container-fluid" id="edit-container">
  <div class="row">
    <div class="col-sm-12 col-md-6" style="text-align: center">
      <h3>Create A New Wishlist Item</h3>
    </div>
  </div>
  <div class="row">
    <app-info-form></app-info-form>
  </div>
</div>
<div class="row">
  <!-- save id and redirect to id details -->
  <button type="submit" id="save" style="cursor: pointer" (click)="onSaveWishlist(wishlist)">Save Item</button>
  <!-- cancel and redirect to wishlist index -->
  <button type="button" id="cancel" style="cursor: pointer" (click)="onCancel()">Cancel</button>
</div>
