<div class="container-fluid" id="home">
  <div class="row align-item-center justify-content-center">
    <div class="col-8" id="jumbotron">

      <h3 style="text-align: center">The Path To Your Dream Garden Starts Here</h3>
        <hr class="jumboline" style="text-align: center"/>

        <!-- image carousel -->
        <app-carousel></app-carousel>

        <!-- invitation to signup -->
        <p style="text-align: center">Start growing your garden today by signing up for free.</p>

        <!-- button row -->
        <div class="row">
          <div class="col-8" style="text-align: center" id="jumbotron-buttons">
            <button type="button" id="signup" style="cursor: pointer">Sign Up</button>
            <button type="button" id="login" style="cursor: pointer">Login</button>
          </div>
        </div>

    </div>
  </div>
</div>
