#home {
  background-image: url(src/assets/pexels-palo-cech-286763.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  z-index: 10;
  padding-bottom: 20px;
  overflow: 100% auto;
}
#jumbotron {
  background-color: #f2e9f7 !important;
  height: 100%vh;
  width: 75%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
  display: flexbox;
  border-radius: 50% 20% / 10% 40%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.jumboline {
  color: green;
  width: 95%;
  justify-self: center;
}
#jumbotron-buttons {
  position: relative;
  align-self: center;
  margin-left: 20%;
}
button {
  margin: 2%;
  border-radius: 10%;
  color: black;
}
button:hover {
  font-family: "Lucida Handwriting", cursive;
  color: green;
}
#signup {
  background-color: var(--background);
  border: 2px solid var(--background);
}
#login {
  background-color: var(--login);
  border: 2px solid var(--login);
}
p {
  color: green;
}
